*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    display: block;
}
p a{
    display: inline-flex;
}
body{
    min-width: 200vh;
}

.cabecera{
    width: 100%;
    padding: 2em 0;
}
.cabecera .centrado{
    width: 80%;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
    
}
.cabecera .centrado .logo{
    width: 100%;
    max-width: 150px;
}
.cabecera .centrado .menu{
    width: calc(80% - 150px);

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: initial;

}
.cabecera .centrado .menu .item{
    margin: 0 0 0 1em;
}
.soul{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
.soul .logo{
    width: 90%;
    max-width: 760px;
}
.columnas{
    width: 100%;

    padding: 10vh 0;
}
.columnas .centrado{
    width: 80%;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;

}
.columnas .centrado .columna{
    width: calc(90% / 3);
}
.columnas .centrado .columna .imagen{
    width: 100%;
    min-height: 200px;

    margin-bottom: 0 0 40px 0;
}
.columnas .centrado .columna .titular{
    width: 100%;
}
.footer{
    width: 100%;

}
.footer .rrss{
    width: 100%;
    display: flex;
    
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
.footer .rrss .red-social{
    margin: 0 10px;
}
.footer p.links{
    width: 65%;
    margin: 20px auto;

    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: initial;
    align-content: center;
}
.footer p.links a.enlaces{
    margin: 0 10px;
}
.footer .copy{
    width: 100%;
    
    text-align: center;
}


/* @media screen and(max-with:951px){
    body{
        font-size : 80px;
    }
} */



