*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    display: block;
}
p a{
    display: inline-flex;
}
body{
    min-width: 200vh;
}

div.cabecera{
    width: 100%;
    padding: 2em 0;
}
div.cabecera div.centrado{
    width: 80%;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
    
}
div.cabecera div.centrado div.logo{
    width: 100%;
    max-width: 150px;
}
div.cabecera div.centrado div.menu{
    width: calc(80% - 150px);

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: initial;

}
div.cabecera div.centrado div.menu div.item{
    margin: 0 0 0 1em;
}
div.soul{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
div.soul div.logo{
    width: 90%;
    max-width: 760px;
}
div.columnas{
    width: 100%;

    padding: 10vh 0;
}
div.columnas div.centrado{
    width: 80%;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;

}
div.columnas div.centrado div.columna{
    width: calc(90% / 3);
}
div.columnas div.centrado div.columna div.imagen{
    width: 100%;
    min-height: 200px;

    margin-bottom: 0 0 40px 0;
}
div.columnas div.centrado div.columna div.titular{
    width: 100%;
}
div.footer{
    width: 100%;

}
div.footer div.rrss{
    width: 100%;
    display: flex;
    
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
}
div.footer div.rrss div.red-social{
    margin: 0 10px;
}
div.footer p.links{
    width: 65%;
    margin: 20px auto;

    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: initial;
    align-content: center;
}
div.footer p.links a.enlaces{
    margin: 0 10px;
}
div.footer div.copy{
    width: 100%;
    
    text-align: center;
}


/* @media screen and(max-with:951px){
    body{
        font-size : 80px;
    }
} */



